version: '3.8'
services:
  main-backend:
    image: melowetty/main-backend
    container_name: main-service
    depends_on:
      - postgresdb
    env_file: .env
    environment:
      - SPRING_PROFILES_ACTIVE=$ACTIVE_PROFILE
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgresdb:$POSTGRESDB_DOCKER_PORT/$DB_NAME
      - SPRING_DATASOURCE_USERNAME=$DB_USERNAME
      - SPRING_DATASOURCE_PASSWORD=$DB_PASSWORD
      - KAFKA_BOOTSTRAP_SERVERS=$KAFKA_SERVERS
      - HSE_APP_X_API_URL=$HSE_APP_X_API_URL
      - SERVER_PORT=$SERVER_PORT
    restart: always
    logging:
      driver: "fluentd"
      options:
        fluentd-address: 127.0.0.1:24224
    expose:
      - $SERVER_PORT
    networks:
      - message-broker_shared
      - api-gateway_backend
      - logging
      - internal
  postgresdb:
    image: postgres
    restart: unless-stopped
    env_file: .env
    environment:
      - POSTGRES_USER=$DB_USERNAME
      - POSTGRES_PASSWORD=$DB_PASSWORD
      - POSTGRES_DB=$DB_NAME
    ports:
      - $POSTGRESDB_LOCAL_PORT:$POSTGRESDB_DOCKER_PORT
    volumes:
      - db:/var/lib/postgresql/data
    networks:
      - internal
volumes:
  db:
networks:
  internal:
  message-broker_shared:
    external: true
  api-gateway_backend:
    external: true
  logging:
    external: true