name: Tests and build

on:
  pull_request:
    branches:
      - master
      - dev

jobs:
  build:
    name: "Build project"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 21
        uses: actions/setup-java@v2
        with:
          java-version: 21
          distribution: 'temurin'

      - name: Cache Gradle dependencies
        id: cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-deps-ci-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-deps-ci-

      - name: Build project with build cache
        run: |
          chmod +x gradlew
          CI=true ./gradlew clean build -x test --build-cache

  test:
    name: "Run tests"
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pull-requests: write
      checks: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 21
        uses: actions/setup-java@v2
        with:
          java-version: 21
          distribution: 'temurin'

      - name: Restore Cache Gradle dependencies
        id: cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-deps-ci-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-deps-ci-

      - name: Run tests with build cache
        run: |
          ./gradlew check --build-cache

      - name: Publish code coverage
        id: jacoco
        uses: madrapps/jacoco-report@v1.7.2
        with:
          paths: |
            build/reports/jacoco/**/jacocoTestReport.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          comment-type: both
          update-comment: true
          title: '# :lobster: Coverage Report'

      - name: Publish Sonarlint Results
        uses: jwgmeligmeyling/spotbugs-github-action@v1.2
        with:
          name: Sonarlint
          title: Sonarlint report
          path: build/reports/sonarlint/*.xml
