name: Deploying

on:
  push:
    branches: [ "master" ]

jobs:
  build-image:
    name: "Build docker image"
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 21
        uses: actions/setup-java@v2
        with:
          java-version: 21
          distribution: 'temurin'

      - name: Restore Cache Gradle dependencies
        id: cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-deps-cd-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-deps-cd-

      - name: Build docker image with cache
        run: |
          chmod +x ./gradlew
          ./gradlew bootBuildImage --build-cache

      - name: Log in to Docker Hub
        uses: docker/login-action@40891eba8c2bcd1309b07ba8b11232f313e86779
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Tag & publish to Docker Container Registry
        id: image-build
        run: |
          docker tag main-backend melowetty/main-backend:latest
          docker push melowetty/main-backend:latest

  deploy:
    name: Service deploying
    runs-on: ubuntu-latest
    needs: build-image
    steps:
      - name: executing remote ssh commands
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          script: |
            cd services/main-service
            git pull
            docker pull melowetty/main-backend
            docker compose up -d
            docker system prune --all --force
